/* Footer.css */

.footer {
    background-color: #d69620;
    /* color: white; */
    padding: 1rem 0;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 250px;
    margin-top: 50px;
}
  
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    background-color: #d69620;
    
  }
  
  .footer-links {
    margin-top: 0.5rem;
    flex-direction: col;

    
  }
  
  .footer-link {
    color: rgb(11, 2, 2);
    text-decoration: none;
    margin-right: 1rem;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  
  /* Copyright text */
   .copyright {
    font-size: 14px;
    margin-bottom: 0.5rem;
  }
  