.header {
    background-color: aqua;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 10px black;
}

.header > a {
    text-decoration: none;
    color: black;
    margin: 20px;
}

.login {
    background-color: red;
    height: 100vh;
    width: 100%;
}

.news {
    background-color: blue;
    height: 100vh;
    width: 100%;
}
.types {
    background-color: black;
    height: 100vh;
    width: 100%;
}
.expert {
    background-color: red;
    height: 100vh;
    width: 100%;
}



